.App {
  text-align: center;
  padding: 20px;
    
}

.car-card {
  
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: left;
}

.car-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.details-button,
.payment-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.details-button:hover,
.payment-button:hover {
  background-color: #0056b3;
}
